.tech_wrap{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.tech_wrap li{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
}